@model EPM.Models.Notifications

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>删除通知</title>
</head>
<body>
    <h3>确认删除以下通知？</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                标题
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                内容
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                发布时间
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePublished)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="删除" class="btn btn-primary" /> |
                @Html.ActionLink("返回", "Index")
            </div>
        }
    </div>
</body>
</html>