@model EPM.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "修改密码";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.PasswordError != null)
{
    <script type="text/javascript">
        alert("@ViewBag.PasswordError");
    </script>
}

@if (ViewBag.PasswordFinish != null)
{
    <script type="text/javascript">
        alert("@ViewBag.PasswordFinish");
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <button type="submit" class="btn btn-default">确认修改</button>
}